.chatting-info {
  height: 350px;
  overflow: scroll;
}
.chatting-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
h3 {
  font-size: large;
  font-weight: bold;
  color: black;
  padding-left: 10px;
}
h4 {
  font-size: large;
  font-style: normal;
  font-weight: lighter;
  color: black;
  padding-left: 10px;
}
.input-question {
  display: flex;
  flex-direction: row;
}
