.about-title {
  align-self: center;
}
.about-content {
  margin-left: 0px;
  margin-top: 15px;
}
h2 {
  font-size: x-large;
  color: black;
  padding: 0pt;
  margin: 2pt;
}
h3 {
  font-size: large;
  font-weight: lighter;
  color: black;
  padding: 0pt;
  margin: 2pt;
}
h4 {
  font-size: large;
  font-style: normal;
  font-weight: lighter;
  color: black;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.process-title {
  align-self: center;
  margin-top: 45px;
}
.process-content {
  margin-left: 0px;
  margin-top: 15px;
}
