.header-info {
  font-size: 24pt;
}
.main-info {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.main-info-avatar {
  background-color: yellow;
  width: 40%;
}
.main-info-text {
  width: 60%;
  display: flex;
  flex-direction: column-reverse;
  background-color: blue;
}
