.home_page {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.home_intro {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 550px;
}
.home_intro_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: center;
  justify-self: center;
}
.home_intro_image {
  flex-shrink: 1;
  width: 100%;
  height: 90%;
}
.home_intro_medre {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.home_intro_medre_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: center;
  justify-self: center;
}
.home_intro_medre_button {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.home_intro_doctor {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  height: max-content;
}
.home_intro_doctor_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: left;
  justify-self: center;
}
.home_intro_doctor_image {
  width: 80%;
  height: 100%;
}
.home_intro_type {
  background-color: aqua;
  height: max-content;
  display: flex;
  flex-direction: row;
}
.home_intro_type_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: right;
  justify-self: center;
}
.home_intro_type_image {
  width: 80%;
  height: 100%;
}
.home_intro_nurse {
  background-color: aqua;
  height: max-content;
  display: flex;
  flex-direction: row;
}
.home_intro_nurse_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: left;
  justify-self: center;
}
.home_intro_nurse_image {
  width: 80%;
  height: 100%;
}
.home_intro_start {
  background-color: aqua;
  height: max-content;
  display: flex;
  flex-direction: column;
}
.home_intro_start_title {
  color: black;
  font-size: x-large;
  height: max-content;
  align-self: center;
  justify-self: center;
}
