.home_page {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
.home_intro {
  background-color: lightgreen;
  height: 400px;
}
.home_intro_title {
  color: blue;
}
.home_intro_image {
  width: 80%;
  height: 70%;
  background-color: yellow;
}
.home_intro_medre {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: 400px;
}
.home_intro_medre_title {
  color: blue;
}
.home_intro_medre_button {
  display: flex;
  flex-direction: row;
}
.home_intro_doctor {
  background-color: lightgreen;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.home_intro_doctor_title {
  color: blue;
}
.home_intro_doctor_image {
  width: 80%;
  height: 100%;
  background-color: yellow;
}
.home_intro_type {
  background-color: aqua;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.home_intro_type_title {
  color: blue;
}
.home_intro_type_image {
  width: 80%;
  height: 100%;
  background-color: yellow;
}
.home_intro_nurse {
  background-color: lightgreen;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.home_intro_nurse_title {
  color: blue;
}
.home_intro_nurse_image {
  width: 80%;
  height: 100%;
  background-color: yellow;
}
.home_intro_start {
  background-color: aqua;
  height: 400px;
}
.home_intro_start_title {
  color: blue;
}
